.box {
	width: 600px;
	height: 403px;
	background-image: url(../../img/menu.png);
	margin-left: 50px;
	padding-top: 30px;
	padding-left: 34px;
	background-repeat: no-repeat;
}
.button1, .button2, .button3, .button4 {
	width: 252px;
	height: 143px;
	float:left;
}
.button2 {
	margin-left: 28px;
}
.button3 {
	margin-left: 1px;
	margin-top: 25px;
}
.button4 {
	margin-left: 25px;
	margin-top: 25px;
}
